<html>
<head>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!--   Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

  <title>
  </title>
</head>

<body>
<div>
<nav class="navbar">
  <div class="navbar-container container">
    <div class="logo">
      <h4><span>Student</span> Information Management System</h4>
    </div>
    <ul class="menu-items">
      <li><a [routerLink]="['/homepage']">Home</a></li>
      <li><a [routerLink]="['/registration']">Registration</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="col left col-md-6"><img class="cover-img" src="../../assets/registration.png">
</div>


<div class="col right col-md-6">
  <div class="content-header">
    <h1>welcome</h1>
  </div>


  <div>
    <p>The aim of my project on Student Information Management System is to build an easy-to-use
      web application that helps schools manage student information more effectively.
      Using Angular for the front end and Spring Boot for the back end, the project will make it
      simpler to keep track of student details, such as personal info, grades, and documents.
      The goal is to create a smooth and efficient system that makes it easier for schools to enter,
      retrieve, and manage student data. Through this project, I want to show how to create a practical solution for handling
      student information, making it more accurate, secure, and accessible.</p>

  </div>
</div>
</body>
</html>
